.heading {
  color: brown;
}
.first {
  background-color: darkslategray;
  margin: auto;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
  color: white;
}
h1 {
  font-weight: 100;
  color: skyblue;
}
h3 {
  font-weight: 100;
  color: aqua;
}

p {
  font-weight: 100;
}
li {
  text-align: left;
  padding-left: 50px;
}
